In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Question 1
df = pd.read_csv("letterCG.bin", sep=' ')
df

,Class,x-box,y-box,width,high,Unnamed: 5,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx,Unnamed: 18
0,C,4,10,5,8,2,5,7,7,10,7,6,13,1,8,4,9,NaN,NaN
1,C,3,5,4,4,2,4,8,5,7,12,9,11,1,10,2,7,NaN,NaN
2,G,5,10,6,7,3,8,7,8,8,6,7,9,2,7,5,10,NaN,NaN
3,C,5,9,6,7,4,3,8,6,7,12,10,13,1,9,3,7,NaN,NaN
4,G,4,8,5,6,3,6,6,7,6,10,7,12,2,9,4,9,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1504,C,5,10,6,8,4,5,8,9,9,9,9,12,2,10,4,9,NaN,NaN
1505,C,6,11,7,8,4,6,7,10,9,10,7,11,2,12,4,9,NaN,NaN
1506,G,5,9,6,7,4,6,7,6,6,10,7,10,2,9,5,9,NaN,NaN
1507,C,6,11,7,8,5,5,8,7,6,8,8,15,4,9,6,6,NaN,NaN
1508,C,5,10,5,8,3,6,8,7,7,13,7,9,2,11,3,7,NaN,NaN

In [3]:
df.drop(["Unnamed: 5", "Unnamed: 18", "yegvx"], axis=1, inplace=True)
df.fillna(0)

,Class,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege
0,C,4,10,5,8,5,7,7,10,7,6,13,1,8,4,9
1,C,3,5,4,4,4,8,5,7,12,9,11,1,10,2,7
2,G,5,10,6,7,8,7,8,8,6,7,9,2,7,5,10
3,C,5,9,6,7,3,8,6,7,12,10,13,1,9,3,7
4,G,4,8,5,6,6,6,7,6,10,7,12,2,9,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1504,C,5,10,6,8,5,8,9,9,9,9,12,2,10,4,9
1505,C,6,11,7,8,6,7,10,9,10,7,11,2,12,4,9
1506,G,5,9,6,7,6,7,6,6,10,7,10,2,9,5,9
1507,C,6,11,7,8,5,8,7,6,8,8,15,4,9,6,6
1508,C,5,10,5,8,6,8,7,7,13,7,9,2,11,3,7

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
x = df.iloc[:,1:]
y = df["Class"]

In [6]:
x

,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege
0,4,10,5,8,5,7,7,10,7,6,13,1,8,4,9
1,3,5,4,4,4,8,5,7,12,9,11,1,10,2,7
2,5,10,6,7,8,7,8,8,6,7,9,2,7,5,10
3,5,9,6,7,3,8,6,7,12,10,13,1,9,3,7
4,4,8,5,6,6,6,7,6,10,7,12,2,9,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1504,5,10,6,8,5,8,9,9,9,9,12,2,10,4,9
1505,6,11,7,8,6,7,10,9,10,7,11,2,12,4,9
1506,5,9,6,7,6,7,6,6,10,7,10,2,9,5,9
1507,6,11,7,8,5,8,7,6,8,8,15,4,9,6,6
1508,5,10,5,8,6,8,7,7,13,7,9,2,11,3,7

In [7]:
y

0       C
1       C
2       G
3       C
4       G
       ..
1504    C
1505    C
1506    G
1507    C
1508    C
Name: Class, Length: 1509, dtype: object

In [8]:
train_x, test_x, train_y, test_y = train_test_split(x, y, random_state = 10, test_size = 0.20)

In [9]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

In [16]:
#Question 2
dt= DecisionTreeClassifier(max_depth=1)
ada = AdaBoostClassifier(base_estimator=dt,n_estimators=400,learning_rate=1,algorithm='SAMME')

ada.fit(train_x,train_y)
prediction = ada.predict(test_x)
metrics.accuracy_score(prediction, test_y)

0.9735099337748344

In [15]:
#Question 3
dt= DecisionTreeClassifier(max_depth=2)
ada = AdaBoostClassifier(base_estimator=dt,n_estimators=400,learning_rate=1,algorithm='SAMME')

ada.fit(train_x,train_y)
prediction = ada.predict(test_x)
metrics.accuracy_score(prediction, test_y)

0.9933774834437086